body{
    background-color:cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 30px;
    font-weight: bold
}
#btn-container{
    text-align: center;
    margin-top: 30px;

}
.btn{
    font-size: 50px;
    background-color: aquamarine;
    border-radius: 30%;
    border: 2px solid black;
    cursor: pointer;
}
#start{
    margin-top:20px; 
}